@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--blue: #1a41e7;
	--violet: #968de2;
}
html {
	scroll-behavior: smooth;
}
body {
	background: linear-gradient(180deg, #fef9f6 0%, #fce4da 100%);
	font-family: "Bebas Neue", cursive;
	/* font-family: "Inter", sans-serif;
	font-family: "Open Sans", sans-serif; */
	min-height: 100vh;
	max-width: 100%;
	overflow-x: hidden;
}
